{% extends 'admin/import_export/change_list_import_export.html' %}
{% load i18n admin_urls static admin_list %}

{% if not is_popup %}
  {% block breadcrumbs %}
  <div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url base_opts|admin_urlname:'changelist' %}">{{ base_opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; <a href="{% url cl.opts|admin_urlname:'changelist' %}">{{ cl.opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
  </div>
  {% endblock %}
{% endif %}
